.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

header {
  font-family: 'Perpetua Titling MT', serif;
  margin-bottom: -80px;
}

.site-header {
  background-color: #282c34;
  color: #d8ebdc;
  text-align: center;
  padding: 10px;
}


body {
  background-color: #d3d3b4;
  background-image: url('green2.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.select-containers p {
  font-weight: bold;
  font-family: Cambria, serif !important;
  margin-bottom: 120px;
  color: #b2c3b6;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.select-containers select {
  font-size: 20px;
  margin-right: 10px; 
  align-items: center; 
  width: 30%;
  margin-bottom: 20px;
  font-family: Cambria, serif;
  background-color: rgb(186, 179, 179)
}

.select-containers input {
  font-size: 20px;
  align-items: center;
  width: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Cambria, serif;
  background-color: rgb(186, 179, 179);
  color: #282c34 !important;
}


.select-containers button {
  font-size: 20px;
  align-items: center;
  width: 20%;
  margin-bottom: 20px;
  font-family: Cambria, serif;
  background-color:  #b2c3b6;

}

/* Style for dropdowns */
.select-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: -100px;
  width: 100%;
  background-color: #829e89; 
  color: rgb(255, 255, 255) !important;
  text-align: center;
  padding-top: -40px;
  padding-bottom: -500px;
}

.select-containers .top-right-button {
  width: 10%;
}

.top-right-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20%;
  background-color: rgb(186, 179, 179);
}

.show-recipes{
  margin-top: 110px;
  font-family: Cambria, serif;
}


.hamburger-menu {
  position: absolute;
  top: 10px; /* Adjust the top value to your preferred position */
  left: 10px; /* Adjust the left value to your preferred position */
  cursor: pointer;
  color: #8cbaae;
}

.bar {
  background-color: #8cbaae;
  height: 3px;
  width: 25px;
  margin: 4px 0;
}
.open {
  display: block; 
  visibility: visible;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
  z-index: 1;
}

/* Style the side panel */
.side-panel {
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color:  #829e89;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  height: 100%;
}

/* Style the side panel content (your menu items) */
.side-panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Show the overlay and side panel when it's open */
.side-panel.open {
  width: 250px; /* Adjust the width as needed */
}

/* Show the overlay when the side panel is open */
.side-panel.open + .overlay {
  display: block;
}
/* Style the hamburger menu within the side panel */
.side-panel .hamburger-menu {
  color:  #829e89;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Updated style for the side panel when it's open */
.side-panel.open {
  width: 250px; /* Adjust the width as needed */
}
