.recipe-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2); 
  padding: 8px;
  width: 400px; 
  height: 200px;
  justify-content: center;
}

.recipe-icon img {
  width: 400px; 
  height: 200px; 
  object-fit: cover; 
  align-items: center;
  justify-content: center;

}
.gridContainer{
  width:93%;
  justify-content: center;
  display: grid;
  grid-template-columns: auto-fill, minmax(30%, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 200px;
  margin-top: 0;
}

